{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container h-75">
    <h1 class="text-center">ログイン</h1>
    <div class="text-center">
        <p>Eatoにログインすると飲食店のレビューや画像を投稿できたり、お気に入りも追加できます</p>
        <p>自分だけのお気に入りをみんなにシェアしましょう</p>
        <p>下のボタンをクリックしてGoogleで新規アカウント登録、またはログイン</p>
    </div>
    {% get_providers as socialaccount_providers %}
    {% for provider in socialaccount_providers %}
    <div class="d-flex justify-content-center">
        {% load static%}
        <a href={% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}><img src="{% static '/imges/btn_google_signin_dark_normal_web@2x.png' %}" alt="google_btn" width="200" />
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
