{% extends "base.html" %}

{% load account %}

{% block content %}
  <div class="container">
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
      <a class="nav-link active" href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">プロフィール</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#favorites" data-toggle="tab" role="tab" aria-controls="favorites" aria-selected="false">お気に入り</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#reviews" data-toggle="tab" role="tab" aria-controls="reviews" aria-selected="false">クチコミレビュー</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#review_images" data-toggle="tab" role="tab" aria-controls="reviews" aria-selected="false">画像</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active h-100" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex justify-content-center mt-4">
        {% if user.profile.icon != "" %}
        <img src="{{ user.profile.icon }}" class="rounded-circle" style="width:300px;height:300px;">
        {% else %}
        <img id="icon_preview" class="rounded-circle bg-dark" style="width:300px;height:300px;" />
        {% endif %}  
      </div>
      <div class="d-flex justify-content-center mt-3">
        <div class="h2">{{user.username}}</div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <div class="text-area border border-dark rounded text-break w-75 p-5">
          {{user.profile.bio | linebreaks}}
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary w-25" href="{% url 'accounts:mypage_edit' %}">編集</a>
      </div>
    </div>
    <div class="tab-pane h-100" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
        <h2>お気に入り</h2>
        <div class="row">
          {% for favorite in favorite_list %}
            <div class="col-4 mt-4 d-flex justify-content-center">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                    <div class="card-body">
                      <h5 class="card-title">{{ favorite.restaurant.name }}</h5>
                      <p class="card-text">{{ favorite.restaurant.address }}</p>
                      <a href="{% url 'restaurants:detail' favorite.restaurant_id %}" class="btn btn-primary">お店詳細へ</a>
                    </div>
                  </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="tab-pane h-100" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <h2>クチコミ</h2>
      <div class="row">
        {% for review in review_list %}
          <div class="col-4 mt-4 d-flex justify-content-center">
              <div class="card"">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                  <div class="card-body">
                    <h5 class="card-title">{{ review.restaurant.name }}</h5>
                    <p>平均評価: {{ review.restaurant.review_avg_score }}</p>
                    <p class="card-text">{{ review.content }}</p>
                    <a href="{% url 'restaurants:detail' review.restaurant_id %}" class="btn btn-primary">お店詳細へ</a>
                  </div>
                </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane h-100" id="review_images" role="tabpanel" aria-labelledby="reviews-tab">
      <div class="row">
        {% for review in review_list %}
          <div class="col-4 mt-4 d-flex justify-content-center">
            {% if review.has_image_p %}
            <a href="{% url 'restaurants:detail' review.restaurant_id %}">
              <img src="{{ review.image  }}" class="img-fluid">
            </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-danger">ログアウト</button>
  </form>

  <hr class="my-3 mt-5 mb-5">

  </div>

  <script>
    $(function () {
      $('#myTab li:last-child a').tab('show')
    })
  </script>
{% endblock %}
