version: '3'

services:
  db:
    image: postgres
    environment:
        POSTGRES_DB: "postgres"
        POSTGRES_USER: "postgres"
        POSTGRES_PASSWORD: "postgres"
        POSTGRES_HOST: "db"
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    environment:
        ALLOWED_HOST: "*"
        POSTGRES_DB: "postgres"
        POSTGRES_USER: "postgres"
        POSTGRES_PASSWORD: "postgres"
        POSTGRES_HOST: "db"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
