{% extends "base.html" %}

{% block title %}Articles for {{ year }}{% endblock %}

{% block content %}

<div class="container mt-5">
    <svg class="bd-placeholder-img img-fluid bg-dark" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 mt-4">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-4">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-4">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-4">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table mt-5">
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{ restaurant.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>{{ restaurant.address }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tell</th>
                    <td>{{ restaurant.tel_number }}</td>
                  </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-success w-100 mt-3">Add Review</button>

            <button type="button" class="btn btn-info w-100 mt-3">Favortite</button>
        </div>
    </div>

    <hr class="my-3 mt-5 mb-5">
</div>

<div class="container mt-5">

  <form>
      <div class="form-row">
          <div class="form-group col-md-6">
              <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
              <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
              </select>
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-success">Search</button>
          </div>
      </div>
  </form>

  <div class="row">
    {% for restaurant in restaurant_list %}
      <div class="col-4 mt-4">
          <div class="card" style="width: 18rem;">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
              <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.address }}</p>
                <a href="{% url 'restaurant:detail' id=restaurant.id %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
    {% endfor %}
  </div>

  <hr class="my-3 mt-5 mb-5">

  <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
  </nav>

  <hr class="my-3 mt-5 mb-5">
</div>

{% endblock %}
