{% extends "base.html" %}

{% block content %}

<div class="container mt-5" onload="setUserGeo();">

  <form method="get" action="{% url 'restaurants:search_with_current_location' %}">
    <input id="latitude" type="hidden" name="latitude">
    <input id="longitude" type="hidden" name="longitude">
    <select name="range">
      <option value="1">半径1km以内</option>
      <option value="2">半径2km以内</option>
      <option value="3">半径3km以内</option>
      <option value="4">半径4km以内</option>
      <option value="5">半径5km以内</option>
    </select>
    <button class="btn btn-primary">現在地周辺のお店を探す</button>
  </form>

  <form method="get" action="{% url 'restaurants:index' %}">
      <div class="form-row">
          <div class="form-group col-md-6">
              {% if keyword %}
                <input name="keyword" type="text" class="form-control" value="{{ keyword }}">
              {% else %}
                <input name="keyword" type="text" class="form-control">
              {% endif %}
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-success">検索</button>
          </div>
      </div>
  </form>

  <div class="row">
    {% for restaurant in restaurant_list %}
      <div class="col-4 mt-4 d-flex justify-content-center">
          <div class="card w-100">
              {{ restaurant.image_tag }}
              <div class="card-body">
                <p>平均評価: {{ restaurant.review_avg_score }}</p>
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.address }}</p>
                <a href="{% url 'restaurants:detail' restaurant.id %}" class="btn btn-primary">お店詳細へ</a>
              </div>
            </div>
      </div>
    {% endfor %}
  </div>

  <hr class="my-3 mt-5 mb-5">

  <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        {% if restaurant_list.has_previous %}
          <li class="page-item">
            {% if keyword %}
              <a class="page-link" href="?page={{ restaurant_list.previous_page_number }}&keyword={{ keyword }}">前のページ</a>
            {% else %}
              <a class="page-link" href="?page={{ restaurant_list.previous_page_number }}">前のページ</a>
            {% endif %}
          </li>
        {% endif %}
        {% for page_num in restaurant_list.paginator.page_range %}
            {% if page_num == restaurant_list.number %}
              <li class="page-item active">
                {% if keyword %}
                  <a class="page-link" href="?page={{ page_num }}&keyword={{ keyword }}">{{page_num}}</a>
                {% else %}
                  <a class="page-link" href="?page={{ page_num }}">{{page_num}}</a>
                {% endif %}
              </li>
            {% else %}
              <li class="page-item">
                {% if keyword %}
                  <a class="page-link" href="?page={{ page_num }}&keyword={{ keyword }}">{{page_num}}</a>
                {% else %}
                  <a class="page-link" href="?page={{ page_num }}">{{page_num}}</a>
                {% endif %}
              </li>
            {% endif %}
          </li>
        {% endfor %}
        {% if restaurant_list.has_next %}
          <li class="page-item">
            {% if keyword %}
              <a class="page-link" href="?page={{ restaurant_list.paginator.num_pages }}&keyword={{ keyword }}">次のページ</a>
            {% else %}
              <a class="page-link" href="?page={{ restaurant_list.paginator.num_pages }}">次のページ</a>
            {% endif %}
          </li>
        {% endif %}
      </ul>
  </nav>

  <hr class="my-3 mt-5 mb-5">
</div>

<script>
  const latitude = document.getElementById("latitude")
  const longitude = document.getElementById("longitude")

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    latitude.value = position.coords.latitude;
    longitude.value = position.coords.longitude;
  }

  getLocation();
</script>

{% endblock %}
